<div class='relative w-11/12 h-full'>
  <%= render 'messages', user: user %>
  <div class="absolute inset-x-0 bottom-0 h-16">
    <%= form_with model: Message.new, html: {id: 'send-message-form'} do |f| %>
      <%= f.hidden_field :receiver_id, value: user.id%>
        <div class="">
          <div class="w-full">
            <label class="block flex items-center">
              <%= f.text_field :message, 
                class: 'mt-1 block w-full rounded-2xl border-gray-300 shadow-sm focus:border-indigo-300 focus:ring focus:ring-indigo-200 focus:ring-opacity-50',
                placeholder: 'Type a new message'
              %>
              <%= button_tag type: 'submit', id: 'submit-message', class: "flex justify-center bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded-2xl" do %>
                <span>Send </span><svg class="w-6 h-6 rotate-90" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 19l9 2-9-18-9 18 9-2zm0 0v-8"></path></svg>
              <% end %>
            </label>
          </div>
        </div>
      <% end %>
  </div>
</div>