<div class="h-4/5 messages user-<%= current_user.id %> selected-<%= user.id%> overflow-y-scroll">
  <%- @messages.each do |date| %>
    <div class='flex justify-center'>
      <span class='bg-blue-500 text-white text-xs px-4 pr-4 py-1.5 py-1.5 rounded-2xl'><%= date[0].strftime('%d/%m/%Y') %></span>
    </div>  
    <%- date[1].each do |message|%>
      <div>
        <%- if message.sender_id == current_user.id %>
          <%- classname = 'float-right' %>
          <div class='flex justify-end'>
            <div>
              <div class='flex justify-end'>
                <span><%= current_user.name %></span>
              </div>
              <div class='flex justify-end'>
                <div class="bg-amber-400 px-3.5 py-2 mr-2 rounded-bl-lg rounded-br-lg rounded-tl-lg">
                  <span class='text-sm opacity-70'><%= message.message %></span><br>
                  <span class='float-right text-xs opacity-50'><%= message.created_at.strftime('%H:%M')%></span>
                </div>
                <%= image_tag('avatar.png', alt: current_user.name, class: 'h-9 h-9 rounded-full') %>
              </div>
            </div>
          </div>
        <%- else %>
          <%- classname = 'float-left' %>
          <div class='flex justify-start'>
            <div>
              <span><%= current_user.name %></span>
              <div class='flex justify-start'>
                <%= image_tag('avatar.png', alt: message.sender.name, class: 'h-9 h-9 rounded-full') %>
                <div class="bg-cyan-100 px-3.5 py-2 ml-2 rounded-bl-lg rounded-br-lg rounded-tr-lg">
                  <span class='text-sm opacity-70'><%= message.message %></span><br>
                  <span class='float-right text-xs opacity-50'><%= message.created_at.strftime('%H:%M')%></span>
                </div>
              </div>
            </div>
          </div>
        <%- end %>
      </div>
    <%- end %>
  <%- end %>
</div>